*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-weight: normal;
	font-size: 100%;
}
html, body {
	line-height: 1;
}
header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}
ol,
ul {
	list-style: none;
	list-style-type: none;
}
li,
dd {
	list-style-type: none;
}
img {
	max-width: 100%;
	vertical-align: sub;
	border: none;
}
a {
	cursor: pointer;
	text-decoration: none;
}
address{
	font-style: normal;
}
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}
